<template data-namespace-typo3-fluid="true"
          xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
          xmlns:layout="http://typo3.org/ns/Arndtteunissen/ColumnLayout/ViewHelpers">

<layout:template name="Row">
    <div class="row-container">
        <div class="row">
            <layout:template.rowContent/>
        </div>
    </div>
</layout:template>

<layout:template name="Column">
    <div class="{column_classes}">
        <f:render renderable="{column_content}"/>
    </div>
</layout:template>

</template>